.container{
    width:640px;
    margin:auto;
    margin-top: 100px;
    background:white;
    color:#262626;
    display:flex;
    flex-direction:column;
    gap:20px;
    border-radius:10px;
    padding:40px 50px;
   

}

.container hr{
    height:2px;
    border:none;
    background:#707070;
}

.container ul li{
    display:flex;
    align-items:center;
    height:70px;
    padding-left:15px;
    border-radius:8px;
    margin-bottom:20px;
    font-size:20px;
    cursor:pointer;
    border: 1px solid#686868;
}
.container button{
    margin:auto;
    width:250px;
    height:65px;
    background:#553f9a;
    color:#fff;
    font-size:20px;
    font-weight: 500;
    border-radius: 8px;
    cursor:pointer;

}

.container .index{
    margin:auto;
    font-size:18px
}

.container .correct{
    background: #b1ffbc !important;
    border: 2px solid #00c853 !important;
}

.container .wrong{
    background: #ffabab !important;
    border: 2px solid #d50000 !important;
}